@model Institute_Of_Fine_Arts.Models.Registration

@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container-fluid">
            <h1>Login</h1>
        </div>
    </div><!-- End Breadcrumbs -->
   <br />
    



    <div class="container" style="width:30% ">
    <div class="form-group">
    
        <div class="col-md-10">
            <input placeholder="Email"  @Html.EditorFor(model => model.s_email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.s_email, "", new { @class = "text-danger" })
           
        </div>
    </div>

<br />

    <div class="form-group">
     
        <div class="col-md-10">
            <input placeholder="Password"
            @Html.EditorFor(model => model.s_Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.s_Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-success" />
        </div>
    </div>
</div>
  
}
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
