
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFA</title>
    <link href="~/Content/assets/img/logo/icon.png" rel="icon">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <!-- HEAD section -->
    <link rel="stylesheet" type="text/css" href="~/Content/engine1/style.css" />
    <script type="text/javascript" src="~/Content/engine1/jquery.js"></script>
    <!-- End HEAD section -->
</head>
<body>



    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">


            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="/Home/homesection/" class="logo me-auto"><img src="~/Content/assets/img/logo/logo.png" alt="" class="img-fluid"></a>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li class="active"> @Html.ActionLink("Home", "homesection", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "gallery", "Home")</li>
                    <li>@Html.ActionLink("About", "about", "Home")</li>
                    <li>@Html.ActionLink("Contact", "contact", "Home")</li>
                    <li> @Html.ActionLink("Register", "signup", "Home")</li>
                     <li> @Html.ActionLink("Login", "login", "Home")</li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->




    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <a href="/Home/homesection" class="logo me-auto"><img src="~/Content/assets/img/logo/logo.png" alt="" class="img-fluid" style="height:60px; width:150px;"></a><br /><br />
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@ifa.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> @Html.ActionLink("Home", "homesection", "Home")</li>
                            <li><i class="bx bx-chevron-right"></i> @Html.ActionLink("Gallery", "gallery", "Home")</li>
                            <li><i class="bx bx-chevron-right"></i> @Html.ActionLink("About", "about", "Home")</li>
                            <li><i class="bx bx-chevron-right"></i> @Html.ActionLink("Contact", "contact", "Home")</li>
                            <li><i class="bx bx-chevron-right"></i> @Html.ActionLink("Register", "signup", "Home")</li>
                            <li><i class="bx bx-chevron-right"></i> @Html.ActionLink("Login", "login", "Home")</li>
                        </ul>
                    </div>





                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4"style="background-color:#f11f7a">

            <div class="me-md-auto text-center text-white text-md-start" style="padding-bottom:-50px" >
                <div class="copyright">
                    &copy; Copyright <strong><span>Institute Of Fine Arts</span></strong>. All Rights Reserved
                </div>

            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            </div>
        </div>

    </footer><!-- End Footer -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }

        $(function () {
            $('.navbar').fadeOut(1);
            $('.navbar').removeClass("hidden");
            $('.navbar').show(2500);
            $(window).on('scroll', function () {
                if ($(window).scrollTop() > 10) {
                    $('.navbar').addClass('active');
                } else {
                    $('.navbar').removeClass('active');
                }
            });
        });

        $("body").fadeOut(1);
        $("body").fadeIn(3000);

        $(document).ready(function () {
            $("#buypass").click(function () {
                $("#discription").hide()
            });
        });

        $(document).ready(function () {
            $("#buypass").click(function () {
                $("#passes").show()
            });
        });


    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
